doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Оконный континент - Доступ запрещён
        link(rel="stylesheet" href="css/style.min.css")
        script(src="js/minified/main.min.js" defer)
    body

    main.main
        section.network-denied
            .container
                .network-denied__holder
                    .network-denied__logo
                        img(src="./images/logo/logo.svg" alt="Оконный континент")
                    .network-denied__wifi
                        img(src="./images/icons/wifi-denied.svg" alt="Wi-Fi запрещён")
                    p.network-denied__text Доступ запрещён
                    a.link.network-denied__link(href="#") Правила доступа к Wi-Fi