doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Оконный континент - Доступ разрешён
        link(rel="stylesheet" href="css/style.min.css")
        script(src="js/minified/main.min.js" defer)
    body

    main.main
        section.network-available
            .container
                .network-available__holder
                    .network-available__logo
                        img(src="./images/logo/logo.svg" alt="Оконный континент")
                    .network-available__wifi
                        img(src="./images/icons/wifi.svg" alt="Wi-Fi")
                    p.network-available__text Интернет доступен
                    a.link.network-available__link(href="https://www.okonti.ru" target="_blank") www.okonti.ru