doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Оконный континент - Подтвердить номер телефона
        link(rel="stylesheet" href="css/style.min.css")
        script(src="js/minified/main.min.js" defer)
        script(src="js/minified/codeConfirmation.min.js" defer)
    body

    main.main
        template#notification--error
            .notification.notification--error
                p.notification__message
                .notification__icon
                    .circular-progress
                        img(src="./images/icons/xmark.svg" alt="крестик")
        section.confirmation.code-confirmation
            .container
                .confirmation__holder.code-confirmation__holder
                    .confirmation__logo
                        img(src="./images/logo/logo.svg" alt="Оконный континент")
                    form.confirmation-form.code-confirmation-form(action="#")
                        p.confirmation-form__text.code-confirmation-form__text На ваш номер отправлено SMS с кодом подтверждения. Введите код для входа
                            .code-confirmation-form__field
                                input.input.confirmation-form__input.code-confirmation-form__input(type="number" inputmode="numeric" autocomplete="one-time-code")
                                input.input.confirmation-form__input.code-confirmation-form__input(type="number" inputmode="numeric")
                                input.input.confirmation-form__input.code-confirmation-form__input(type="number" inputmode="numeric")
                                input.input.confirmation-form__input.code-confirmation-form__input(type="number" inputmode="numeric")
                        button.button.confirmation-form__btn(type="submit") Авторизация
                    .code-confirmation__links
                        a.link.code-confirmation__link(id="resend-code" href="#")
                            |   Отправить код ещё раз
                            .circular-progress
                        a.link.code-confirmation__link(id="link-enter-another-phone" href="#") Ввести другой номер телефона