doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Оконный континент
        link(rel="stylesheet" href="css/style.min.css")
        script(src="js/minified/main.min.js" defer)
        script(src="js/minified/index.min.js" defer)
    body

    main.main
        template#notification--error
            .notification.notification--error
                p.notification__message
                .notification__icon
                    .circular-progress
                        img(src="./images/icons/xmark.svg" alt="крестик")
        section.confirmation.number-confirmation
            .container
                .confirmation__holder.number-confirmation__holder
                    .confirmation__logo
                        img(src="./images/logo/logo.svg" alt="Оконный континент")
                    form.confirmation-form.number-confirmation-form(action="#")
                        p.confirmation-form__text.number-confirmation-form__text Для доступа в Интернет необходимо подтвердить номер телефона
                        input.input.confirmation-form__input.number-confirmation-form__input(type="text" inputmode="numeric" placeholder="Введите номер телефона")
                        button.button.confirmation-form__btn(type="submit") Получить код
                    a.link.number-confirmation__link(id="code-already-exist" href="#") Уже есть код